*{
  padding: 0;
  margin: 0;
  font-family: 'WeezerFont';
  font-weight: lighter;
}

.all-margin{
  margin-left: 40px;
}

.title{
  background-color: #3399cc;
  height: 100px;
  font-size: small;
  display: flex;
}

.title h1{
  display: flex;
  margin-left: 15px;
  justify-content: flex-start;
  align-items: center;
  font-weight: lighter;
  text-align: left;
  color: white;
}

li{
  list-style-type: none;
}

.menu-item li{
  color: white;
  margin: 15px;
}

.menu-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333333;
}

.menu-item .left{
  display: flex;
  flex-direction: row;
}

.menu-item .right-img{
  margin-right: 20px;
  margin-top:10px
}

section{
  margin:20px 0;
  width: 50%;
  border-style: solid;
  padding: 10px;
  border: #333333 solid 1px;
}

section li{
  margin-left: 20px;
}

section h3{
  margin: 10px;
}

h3{
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph{
  width: 75%;
}